.loginDiv {
    float: right;
    border: 1px solid gray;
    border-radius: 15px;
    padding:100px;
    margin-right: 8%;
    margin-top: 8%;
    background-color: #00cccc;
}

.loginContainer {
    margin: 25px;
    height:100px;
}
.inputText {
    margin: 8px;
}
.message {
    color: red;
    margin-left: 2%;
}