/* You can add global styles to this file, and also import other style files */

body {
    background-color: #E2F0F0;
    margin: 0;
}

.buttonStyle {
    padding: 3px 20px;
    background-color: blue;
    color: white;
    border: 2px solid blue;
    border-radius: 5px;
    margin: 5px;
}
